{% extends 'base.html' %}

{% block content %}
    <section class="intro">
        <div class="profile-picture">
            <img src="https://avatars.githubusercontent.com/amertalic" alt="Amer Talic">
        </div>
        <h1>Hi, I'm <strong>Amer Talic</strong></h1>
        <p>I'm a developer specializing in backend development using <strong>Python</strong>, with expertise in <strong>FastAPI</strong>, <strong>Django</strong>, and <strong>PostgreSQL</strong>. I also work with <strong>SvelteKit</strong> for frontend development. I am the founder of <strong>MedicPortal</strong>, a veterinary management app that helps clinics streamline their operations.</p>
        <p>Check out my work on <a href="https://github.com/amertalic" target="_blank">GitHub</a> or connect with me on <a href="https://www.linkedin.com/in/amer-tali%C4%87-%F0%9F%87%B5%F0%9F%87%B8%F0%9F%8D%89-3139b568/" target="_blank">LinkedIn</a>.</p>
    </section>
{% endblock %}
